/*
 * Copyright (c) 2023-2024 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

[Arch]
adapter/default_config/     liufeihu@huawei.com
BUILD.gn        liufeihu@huawei.com
bundle.json     liufeihu@huawei.com
config.py       liufeihu@huawei.com
dsoftbus.gni    liufeihu@huawei.com
Kconfig         liufeihu@huawei.com

[Misc]
CODEOWNERS      zhangchunxin@huawei.com

[Conn]
adapter/common/net/bluetooth/   wangjingen1@huawei.com
core/adapter/br/                wangjingen1@huawei.com
core/connection/                songzhengteng@huawei.com
core/connection/ble/            wangjingen1@huawei.com
core/connection/br/             wangjingen1@huawei.com
core/connection/wifi_direct/                songzhengteng@huawei.com
core/connection/wifi_direct_cpp/            songzhengteng@huawei.com
tests/adapter/bluetooth/        wangjingen1@huawei.com
tests/adapter/fuzztest/softbussocketrecv_fuzzer/    songzhengteng@huawei.com
tests/adapter/unittest/softbus_wifi_api_test.cpp    songzhengteng@huawei.com
tests/adapter/unittest/softbus_socket_test.cpp      songzhengteng@huawei.com
tests/core/connection/          songzhengteng@huawei.com
tests/core/connection/ble/      wangjingen1@huawei.com
tests/core/connection/br/       wangjingen1@huawei.com
tests/core/connection/wifi_direct/            songzhengteng@huawei.com
tests/core/connection/wifi_direct_cpp/        songzhengteng@huawei.com

[Disc]
adapter/common/range/   fanjingya1@huawei.com
core/discovery/         fanjingya1@huawei.com
tests/adapter/fuzztest/softbusadapterrange_fuzzer/      fanjingya1@huawei.com
tests/adapter/unittest/softbus_adapter_range_test.cpp   fanjingya1@huawei.com
tests/core/discovery/   fanjingya1@huawei.com

[DiscInterface]
interfaces/kits/discovery/  fanjingya1@huawei.com

[Lnn]
adapter/common/bus_center/boot_event/      fengyonghui@huawei.com
adapter/common/bus_center/common_event/    fengyonghui@huawei.com
adapter/common/bus_center/driver/          fengyonghui@huawei.com
adapter/common/bus_center/network/         zhangshaojie3@huawei.com fengyonghui@huawei.com
adapter/common/bus_center/include/         zhangshaojie3@huawei.com fengyonghui@huawei.com
adapter/common/bus_center/platform/        zhangshaojie3@huawei.com fengyonghui@huawei.com
adapter/common/bus_center/wlan/            zhangshaojie3@huawei.com fengyonghui@huawei.com
adapter/common/net/hdi/                    fengyonghui@huawei.com
adapter/common/net/wifi/                   fengyonghui@huawei.com
core/adapter/authentication/               chenbotong1@huawei.com
core/adapter/bus_center/                   fengyonghui@huawei.com
core/adapter/kv_store/                     liubao6@huawei.com
core/adapter/subscribe_kv_store_sa/        liubao6@huawei.com
core/adapter/huks/                         liubao6@huawei.com
core/authentication/                       chenbotong1@huawei.com
core/bus_center/extend/                    fengyonghui@huawei.com
core/bus_center/interface/                 fengyonghui@huawei.com
core/bus_center/ipc/                       fengyonghui@huawei.com liubao6@huawei.com
core/bus_center/lnn/decision_center/       zhangshaojie3@huawei.com
core/bus_center/lnn/meta_node/             fengyonghui@huawei.com zhanghaowen12@huawei.com
core/bus_center/lnn/net_builder/           fengyonghui@huawei.com zhangshaojie3@huawei.com
core/bus_center/lnn/lane_hub/common/       zhangshaojie3@huawei.com
core/bus_center/lnn/lane_hub/heartbeat/    liubao6@huawei.com
core/bus_center/lnn/lane_hub/lane_manager/ zhangshaojie3@huawei.com xuhengxiang@huawei.com
core/bus_center/lnn/lane_hub/lane_qos/     zhangshaojie3@huawei.com xuhengxiang@huawei.com
core/bus_center/lnn/lane_hub/time_sync/    zhangshaojie3@huawei.com
core/bus_center/lnn/net_buscenter/         fengyonghui@huawei.com
core/bus_center/lnn/net_ledger/            fengyonghui@huawei.com
core/bus_center/monitor/                   fengyonghui@huawei.com
core/bus_center/service/                   zhangshaojie3@huawei.com fengyonghui@huawei.com
core/bus_center/utils/                     zhangshaojie3@huawei.com fengyonghui@huawei.com
sdk/bus_center/                            fengyonghui@huawei.com
tests/adapter/unittest/                    fengyonghui@huawei.com
tests/core/adapter/unittest/dsoftbus_rsa_crypto_test.cpp           liubao6@huawei.com
tests/core/adapter/unittest/lnn_kv_adapter_test.cpp                liubao6@huawei.com
tests/core/adapter/unittest/lnn_kv_store_launch_listener_test.cpp  liubao6@huawei.com
tests/core/adapter/unittest/lnn_ohos_account_adapter_test.cpp      zhangshaojie3@huawei.com fengyonghui@huawei.com
tests/core/adapter/unittest/lnn_ohos_account_test.cpp              zhangshaojie3@huawei.com fengyonghui@huawei.com
tests/core/adapter/unittest/lnn_settingdata_event_monitor_test.cpp fengyonghui@huawei.com
tests/core/authentication/                        chenbotong1@huawei.com
tests/core/bus_center/lnn/ipc/                    fengyonghui@huawei.com liubao6@huawei.com
tests/core/bus_center/lnn/lane/                   zhangshaojie3@huawei.com
tests/core/bus_center/lnn/lane_link/              zhangshaojie3@huawei.com
tests/core/bus_center/lnn/lane_link_conflict/     zhangshaojie3@huawei.com
tests/core/bus_center/lnn/lane_listener/          zhangshaojie3@huawei.com
tests/core/bus_center/lnn/net_builder/            fengyonghui@huawei.com
tests/core/bus_center/lnn/net_buscenter/          fengyonghui@huawei.com
tests/core/bus_center/lnn/net_ledger/             fengyonghui@huawei.com
tests/core/bus_center/lnn/unittest/               fengyonghui@huawei.com
tests/core/bus_center/service/unittest/bus_center_decision_center_test.cpp   zhangshaojie3@huawei.com
tests/core/bus_center/service/unittest/bus_center_event_test.cpp             fengyonghui@huawei.com
tests/core/bus_center/service/unittest/bus_center_manager_test.cpp           fengyonghui@huawei.com
tests/core/bus_center/test/heartbeat/        liubao6@huawei.com
tests/core/bus_center/test/ipc/              fengyonghui@huawei.com liubao6@huawei.com
tests/core/bus_center/test/service/          zhangshaojie3@huawei.com
tests/core/bus_center/utils/                 fengyonghui@huawei.com

[LnnInterface]
interfaces/kits/bus_center/     zhangshaojie3@huawei.com

[Trans]
core/adapter/transmission/      jiazhenyu1@huawei.com baiyuxin6@huawei.com
core/transmission/              jiazhenyu1@huawei.com baiyuxin6@huawei.com
sdk/transmission/               jiazhenyu1@huawei.com baiyuxin6@huawei.com
tests/core/transmission/        jiazhenyu1@huawei.com baiyuxin6@huawei.com
tests/sdk/transmission/         jiazhenyu1@huawei.com baiyuxin6@huawei.com

[TransInterface]
interfaces/inner_kits/transport/    wuchengwen4@huawei.com
interfaces/kits/transport/          wuchengwen4@huawei.com

[Comm]
adapter/common/include/     zhusiyuan2@huawei.com
adapter/common/json/        zhusiyuan2@huawei.com
adapter/common/kernel/      zhusiyuan2@huawei.com
core/common/                zhusiyuan2@huawei.com
tests/core/common/          zhusiyuan2@huawei.com

[CommInterface]
interfaces/kits/common/softbus_common.h     zhusiyuan2@huawei.com

[DFX]
dfx/            zhusiyuan2@huawei.com
tests/dfx       zhusiyuan2@huawei.com

[DFXInterface]
hisysevent.yaml             litongxin3@huawei.com
interfaces/kits/common/softbus_error_code.h     litongxin3@huawei.com

[Framework]
core/frame/                 zhangfengxi@huawei.com
sdk/frame/                  zhangfengxi@huawei.com
sdk/BUILD.gn                zhangfengxi@huawei.com
sdk/libsoftbus_client_map   zhangfengxi@huawei.com
tests/core/frame/           zhangfengxi@huawei.com
tests/sdk/frame/            zhangfengxi@huawei.com

[Permission]
core/common/security/permission/        liubao6@huawei.com
tests/core/common/security/permission/  liubao6@huawei.com

[Crypto]
adapter/common/mbedtls/     chenbotong1@huawei.com
adapter/common/openssl/     chenbotong1@huawei.com
components/mbedtls/         chenbotong1@huawei.com
core/adapter/huks/          chenbotong1@huawei.com

^[2nd-Party]
components/nstackx/         libing3@huawei.com libaolong3@huawei.com lumin17@huawei.com

[InterfaceCode]
# any change to core/common/include/softbus_server_ipc_interface_code.h needs to be reviewed by @leonchan5
core/common/include/softbus_server_ipc_interface_code.h @leonchan5 liubao6@huawei.com
